@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

body {
    font-family: "Oswald", Helvetica, Arial, sans-serif !important;
    background: #FFF;
    margin: 10px;
}

footer {
    font-size: 0.8em;
}

.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }