body {
    font-family: Rockwell, Helvetica, sans-serif;
    background: #FFF;
    margin: 10px;
}

footer {
    font-size: 0.8em;
}

.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }